@model StockTransferVM
@{
    ViewData["Title"] = "Stock In";
    double Purchase = 0;
    double RecQty = 0;
    double TPurchase = 0;
    double Sale = 0;
    double TSale = 0;

}


<div class="p-3">
    <form method="post" class="form-horizontal">
        <div class="row">
            <partial name="_FilterReportingStockNoVariant" />
            <div class="col-lg-2 col-sm-6">
                <div class="card gradient-2">
                    <div class="card-body p-3">
                        <div>
                            <input asp-action="StockInBySKU" type="submit" id="submitSearch" asp-route-VariId="@Model.Variant.Id" class="btn btn-danger col-12" />
                        </div>
                        <div class="pt-3">
                            <input type="reset" id="resetSearch" class="btn btn-primary col-12" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">@Model.Variant.VariantCode - @Model.Variant.Name (30 Days)</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="StockTransfer" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Enter New Stock
            </a>
            <a asp-controller="StockTransfer" asp-action="IndexStockIn" class="btn btn-secondary" style="width:150px">Go Back</a>
        </div>
    </div>
    <br /><br />

    <table id="tblData" class="table table-bordered table-striped zero-configuration" style="width:100%">
        <thead>
            <tr>
                <th></th>
                <th>@Html.DisplayNameFor(model => model.StockTransfer.CreatedDate)</th>
                <th style="text-align: right">@Html.DisplayNameFor(model => model.StockTransfer.ReceivedQty)</th>
                <th style="text-align: right">@Html.DisplayNameFor(model => model.StockTransfer.UnitPurchasePrice)</th>
                <th style="text-align: right">Purchase</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.stockTransferList)
            {
                Purchase = obj.UnitPurchasePrice * obj.ReceivedQty;
                RecQty += obj.ReceivedQty;
                TPurchase += Purchase;
                TSale += Sale;
            <tr>
                    <td>
                        <div class="w-100 btn-group" role="group">
                            <a asp-controller="StockTransfer" asp-action="Upsert" asp-route-id="@obj.Id" asp-route-Code ="EditStock"
                               class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i> Edit</a>
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(m => obj.CreatedDate)
                    </td>
                    <td align="right">
                        @Html.DisplayFor(m => obj.ReceivedQty)
                    </td>
                    <td align="right">
                        @Html.DisplayFor(m => obj.UnitPurchasePrice)
                    </td>
                    <td align="right">
                        @Purchase.ToString("#.##")
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr align="right">
                <th class="w-20" colspan="2">Total</th>
                <th class="w-20">@RecQty.ToString("#.##")</th>
                <th></th>
                <th class="w-20">@TPurchase.ToString("#.##")</th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>